#!/bin/bash
export PATH=/usr/local/bin:/usr/bin:${PATH}

# ensure minikube running
if [ `minikube status | grep Running | wc -l` -eq 0 ]; then
  minikube start --vm-driver=kvm
  if [ $? != 0 ]; then
    exit 1
  fi
else
  minikube status
fi

# ensure hello-minikube pod exsist
if [ `kubectl get pod | grep hello-minikube | wc -l` -eq 0 ]; then
  kubectl run hello-minikube --image=gcr.io/google_containers/echoserver:1.4 --port={{ minikube_test_port }}
  if [ $? != 0 ]; then
    exit 1
  fi
  kubectl expose deployment hello-minikube --type=NodePort
  if [ $? != 0 ]; then
    exit 1
  fi
  kubectl get pod
  if [ $? != 0 ]; then
    exit 1
  fi
else
  echo "hello-minikub already exsist."
  kubectl get pod
fi

# get dashboard
minikube dashboard --url
if [ $? != 0 ]; then
  exit 1
fi
